.git
.gitignore
.env
.github
.devcontainer
.vscode
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
node_modules
frontend/node_modules
.venv
.coverage
.coverage.*
htmlcov
dist
frontend/dist
coverage
frontend/coverage
.vite
memes.db
